body {
    margin: 0;
    background: black;
    color: yellow;
    font-family: 'Arial', sans-serif;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 31.25%;
    background-image: url('star_background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#titles {
    position: absolute;
    width: 18em;
    height: 31.25vw;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 3vw;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}

#titlecontent {
    position: absolute;
    top: 100%;
    animation: scroll 60s linear 4s infinite;
}

#titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(to top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}
